<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario</h2>
    <div class="row">
      <h3 class="col-md-1">Hola</h3>
      <h3 class="col-md-7">Soy Bootstrap</h3>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login">Login</button>
    <button class="btn btn-warning" on-click="login">Logout</button> 
    <span hidden$="{{!logged}}">Bienvenido a casa Johnnie</span>
    <iron-ajax 
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/V2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      on-error="showError">
    </iron-ajax>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String, 
            value: "dyurasov2@deviantart.com"
          }, 
          password: {
            type:String,
            value: "Uu4cLoVE9Jnd"
          }, 
          logged : {
            type: Boolean,
            value: false
          }
        };
      }
      showData(data) {
        console.log("showData");
        console.log(data.detail.response);
        this.email = data.detail.response.email;
      };

      login() {
        console.log("botón pulsado");
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        // el $ es para acceder al shadow dom
        this.$.doLogin.body= JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("peticion enviada");
      }

      manageAjaxResponse(data){
        console.log("Respuesta recibida");
        this.logged = true;
        this.dispatchEvent(
          new CustomEvent(
            "loginEvent",
            {
              "detail": {
                "result": true,
                "user" : data
              }
            }  
          )
        );
      };

      showError(error){
        console.error("Hubo un error");
        console.error(error);
        this.dispatchEvent(
          new CustomEvent(
            "loginEvent",
            {
              "detail": {
                "result": false
              }
            }  
          )
        );
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
