<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/polymer/lib/elements/dom-repeat.html"></script>

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de Cuenta</h2>
    <h3>User ID: {{userid}}</h3>
    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN: {{item.iban}} </h3>
        <h3>Balance: {{item.balance}}</h3>
    </template>
    
    <iron-ajax 
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/V2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      on-error="showError">
    </iron-ajax>
    
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          accounts: {
            type: Array
          },
          // iban: {
          //   type: String
          // }, 
          // balance: {
          //   type: Number
          // }
        };
      }
      showData(data) {
        console.log("showData");
        if (data.detail.response && data.detail.response.length>0) {
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
        //this.userid = data.detail.response[0].user_id;
        //this.iban = data.detail.response[0].iban;
        //this.balance = data.detail.response[0].balance;
        } else {
          console.log('no data');
        }
      };

      showError(error) {
        console.error(error);
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
